<article id="frames">
  <div class="backgrounds"></div>
  <div class="flow"></div>
  <div class="panels"></div>
</article>
<div id="content" style="display: none">
  <%= raw Alongslide::render(@markdown_content) %>
</div>
